.container {
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.weather-container{
max-width: 400px;
  background-color: #ececec;
  border-radius: 20px;
  padding: 16px;
}

.search-button {
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #142d4c;
  background-color: #9fd3c7;
  padding: 8px 12px;
  font-size: 14px;
}

.current-button {
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #fff;
  background-color: #142d4c;
  padding: 8px 12px;
  font-size: 14px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1,
.current-date,
.humidity,
.windspeed,
.col-sm-6 {
  color: #385170;
}

.current-date,
.humidity,
.windspeed {
  text-align: center;
}

.condition::first-letter{
  text-transform: capitalize;
}

.unit-temp {
  font-size: 15px;
  vertical-align: top;
}

.unit{
  text-decoration: none;
}


h2,
.col-sm-3 {
  color: #142d4c;
}

h3 {
  color: #9fd3c7;
}

.card {
  margin: 5px;
}

.coder{
  text-align: left;
  font-size: small;
}
