.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.weather-container {
  max-width: 400px;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  border-radius: 20px;
  padding: 16px;
}

.form-control {
  margin-left: 7px;
  margin-bottom: 7px;
}

.search-button {
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #fff;
  background-color: #f68787;
  padding: 8px 12px;
  font-size: 14px;
  position: relative;
  left: 3px;
}

.current-button {
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #fff;
  background-color: #142d4c;
  padding: 8px 12px;
  font-size: 14px;
  position: relative;
  left: -7px;
}

.city {
  text-align: left;
  color: #385170;
  font-weight: normal;
  margin-left: 7px;
}

.current-date,
.condition {
  text-align: left;
  color: #385170;
  font-weight: normal;
  margin-left: 7px;
}

.condition::first-letter {
  text-transform: capitalize;
}

.temperature img {
  vertical-align: top;
}

.temperature strong {
  font-size: 40px;
  vertical-align: top;
  color: #142d4c;
}

.temperature .unit-temp {
  font-size: 15px;
  vertical-align: top;
}

.temperature .unit {
  text-decoration: none;
  cursor: default;
  color: #142d4c;
}

.temperature .unit:hover {
  text-decoration: none;
}

.humidity,
.windspeed {
  text-align: left;
  color: #385170;
}

.col-sm-6 {
  color: #385170;
  font-size: 20px;
  font-weight: normal;
}

.col-sm-4 {
  color: #142d4c;
}

.temp-min {
  opacity: 0.5;
}

.card {
  margin: 7px;
}

.card-body {
  padding: 5px;
}

.coder {
  text-align: left;
  font-size: small;
}
